<div class="row mt-4 col-md-12">
    <div class="card col-md-3  border border-black">
        <div class="card-body">
            <h5 class="card-title">Total investido em {{ category_title }}</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">consolidado</h6>
            <h2>R$ {{ metrics_category.total_invested }}</h2>
        </div>
    </div>
    <div class="card col-md-3 ms-2 border border-black">
        <div class="card-body">
            <h5 class="card-title">Quantidade de Cotas</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Consolidada</h6>
            <h1></h1>
        </div>
    </div>
    <div class="card col-md-3 ms-2 border border-black">
        <div class="card-body">
            <h5 class="card-title">Preço médio</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
            <h1> </h1>
        </div>
    </div>
    
</div>