{% extends "base.html" %}

{% block title%}
Compras de ativos
{% endblock %}
{% block content %}


<div class="row mb-3">
    <div class="col-md-6">
        <h1 class="">Lista de Vendas de ativos</h1>
    </div>
    <div class="col-md-4">
        <a href="{% url 'outflow_create' %}" class="btn btn-success float-end ">
            <i class="bi bi-plus-lg"></i>
            <span>cadastra nova venda</span>
        </a>
    </div>
</div>
<div class="table-responsive col-md-10">
    <table class="table table-striped table-bordered rounded-2 border border-black">
        <thead class="thead-dark">
            <tr class="text-center">
                <th>Data</th>
                <th>Ticker</th>
                <th>Quantidade</th>
                <th>Valor por cota</th>
                <th>Total</th>
                <th>Corretora</th>
                <th>Ações</th>

            </tr>
        </thead>
        <tbody>
            {% for outflow in outflows %}
            <tr>
                <td>{{ outflow.date }}</td>
                <td>{{ outflow.ticker }}</td>
                <td>{{ outflow.quantity }} un.</td>
                <td>R$ {{ outflow.cost_price }}</td>
                <td>R$ {{ outflow.total_price }}</td>
                <td>{{ outflow.broker }}</td>
                <td class="text-center">
                    <a href="{% url 'outflow_details' outflow.id %}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-eye"></i>
                    </a>
                    <a href="{% url 'outflow_update' outflow.id %}" class="btn btn-secondary btn-sm">
                        <i class="bi bi-pencil-square"></i>
                    </a>
                    <a href="{% url 'outflow_delete' outflow.id %}" class="btn btn-secondary btn-sm ">
                        <i class="bi bi-trash3-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}