{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-7" >
            <h3 class="display-6">Detalhes da {{ object.name }}</h3>
        </div>
        <div class="col-md-5" >
            <a href="{% url 'ticker_list' category=category_title %}" class="btn btn-secondary mt-4">Volta para lista de {{object.category}}</a>
        </div>
    </div>

    {% include "components/_tickers_metrics.html" %}
<div class="container mt-4">
    
    </div>
    <div class="card col-md-9">
        <div class="card-body text-bg-secondary rounded-2">
            <h3 class="card-title">{{object.category}} {{object.name}}</h3>
        <div class="row">
            <p class="card-text col p-3"><strong>Categoria: </strong>{{object.category}}</p>
            <p class="card-text col p-3"><strong>Moeda: </strong>{{object.currency}}</p>
            <p class="card-text col p-3"><strong>Setor: </strong>{{object.sector}}</p>
        </div>
            {% if object.description %}
            <p class="card-text"><strong>Descrição: </strong>{{object.description}}</p>
            {% endif %}
        </div>
    </div>
    <div class="table-responsive col-md-10 mt-4">
        <h4 class="text-center mb-3">Negociações de {{object.name}}</h4>
        <table class="table table table-bordered border border-black">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Data</th>
                    <th>Ticker</th>
                    <th>Tipo</th>
                    <th>Quantidade</th>
                    <th>Valor por cota</th>
                    <th>Total</th>
                    <th>Corretora</th>
                    <th>Ações</th>
    
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.ticker }}</td>
                    {% if transaction.transaction_type == "Compra" or "Subscrição" %}
                        <td class="text-success">{{ transaction.transaction_type }}</td>
                    {% else %}
                        <td class="text-danger">{{ transaction.transaction_type }}</td>
                    {% endif %}
                    <td>{{ transaction.quantity }} un.</td>
                    <td>R$ {{ transaction.cost_price }}</td>
                    <td>R$ {{ transaction.total_price }}</td>
                    <td>{{ transaction.broker }}</td>
                    <td class="text-center">
                        
                        {% if transaction.transaction_type == "Compra" or "Subscrição" %}
                        <a href="{% url 'inflow_details' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'outflow_details' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>
                        {% endif %}

                        {% if transaction.transaction_type == "Compra" or "Subscrição" %}
                        <a href="{% url 'inflow_update' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'outflow_update' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        {% endif %}

                        {% if transaction.transaction_type == "Compra" or "Subscrição" %}
                        <a href="{% url 'inflow_delete' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'outflow_delete' transaction.id %}" class="btn btn-dark btn-sm">
                            <i class="bi bi-trash3-fill"></i>
                        </a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="card col-md-3  border border-black">
            <div class="card-body">
                <h5 class="card-title">Total de cotas de {{object.name}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"></h6>
                <h1>{{total_quantity}}</h1>
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}