{% extends "base.html" %}

{% block title %}
InvestSIO - HOME
{% endblock %}

{% block content %}
<div>
    <div class="row">
        <div class="card col-md-3  border border-black">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <h1>R$100000,00</h1>
            </div>
        </div>
        <div class="card col-md-3 ms-5 border border-black">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <h1>R$100000,00</h1>
            </div>
        </div>
        <div class="card col-md-3 ms-5 border border-black">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                <h1>R$100000,00</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card col-md-10 mt-4  border-black">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <span>aqui vai ficar um graifco </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}
